
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;   
  align-items: flex-start;   
  padding-top: 150px;        
  background-color: #f4f6f8;
}

.todo-container {
  background: white;
  padding: 30px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color:#73c4dd;
  margin-bottom: 20px;
}


.input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  background-color: #73c4dd; 
  color: white;              
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px; 
  overflow-y: auto;  
  scrollbar-width: thin; 
  scrollbar-color: rgba(0,0,0,0.2) transparent;
}

.task-list::-webkit-scrollbar {
  width: 8px;
}

.task-list::-webkit-scrollbar-track {
  background: transparent;
}

.task-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 2px solid transparent;
}

.task-item {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
  transition: background-color 0.2s ease;
}

.task-item:hover {
  background: #eef3f7;
}

.task-item:active {
  cursor: grabbing;
}

.task-text {
  flex: 1;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
  background-color: #6cb5c200;
  border-radius: 4px;
}

.delete-btn {
  background: white;
  color: rgb(218, 107, 107);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.delete-btn:hover {
  background-color: rgb(218, 107, 107);
  color: white;
}
